#wrapper{
    border: 20px solid blue;
    color:brown;
    align-items: center;
    width: 300px;
    position: fixed;
    bottom: 100px;
    z-index:1000;
    background-color:chartreuse;
}
#number1,#number2{
    padding:5px;
    border-radius:5px;
}
#result,#btn_add{
    border:5px solid red;
    width:100px;
    height:50px;
}
#btn_add:hover{
    background-color:aliceblue;
    color:black;
}

#map { height: 100vh; }



/*<input type="number" id="number1"></input>
<span>+</span>
<input type="number" id="number2"></input>
<span>=</span>
<div id="result"></div>
<button id="btn_add">addnumbers</button>*/